<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
            body {
                font-family: Helvetica Neue, Helvetica, Arial;
            }
            body a{
                color: white;
            }
            h1 {
                color:white;
            }
            div.layout {
                width: 800px;
                margin: auto;
            }
            div[role="main"] div {
                text-align: center;
                width:400px;
            }
            #doc{
                float:left;
            }
            #bitbucket{
                float:right;
            }
        </style>
    </head>
    <body style="background-color: #343131">
        <div class="layout">
            <h1>Ting - Data Mapper</h1>
            <div role="main">
                <div id="doc">
                    <a href="/doc/">
                        <img src="{{ asset('img/doc.png') }}" /><br />
                        Documentation
                    </a>
                </div>
                <div id="bitbucket">
                    <a href="https://bitbucket.org/ccmbenchmark/ting">
                        <img src="{{ asset('img/bitbucket_rgb_blue.png') }}" /><br />
                        Sources
                    </a>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
